<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje ročišta</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Ažuriranje ročišta {{data.id}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje ročišta: {{data.id}}</h3>
  
    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
         <mat-form-field>
             <input matInput [matDatepicker]="datumRocista" placeholder="Datum rocista" name="Datum" [disabled]="flag==3" [(ngModel)]="data.datumRocista" required />
             <mat-datepicker-toggle matSuffix [for]="datumRocista"></mat-datepicker-toggle>
             <mat-datepicker #datumRocista></mat-datepicker>
         </mat-form-field>
        </div>
  
       <div class="form">
        <mat-form-field class="form-field">
            <input matInput placeholder="Sudnica" name="Sudnica" [disabled]="flag==3" [(ngModel)]="data.sudnica" required />
        </mat-form-field>
       </div>
  
       <div class="form">
        <mat-form-field>
          <mat-select [(ngModel)]="data.predmet" placeholder="Predmet" name="predmet" [compareWith]="compare" [disabled]="flag == 3">
            <mat-option *ngFor="let predmet of predmeti" [value]="predmet">
              {{ predmet.id }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
        <div class="form">
            <mat-select [compareWith]="compare" class="form-field" placeholder="Ucesnik" name="Ucesnik" [disabled]="flag==3" [(ngModel)]="data.ucesnik" required>
                <mat-option *ngFor="let ucesnik of ucesnici" [value]="ucesnik">
                    {{ucesnik.ime}}
                </mat-option>
            </mat-select>
        </div>
    </form>
  
    <div class="form-field mat-dialog-actions">
        <button mat-raised-button color="accent" *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="add()">Sačuvaj</button>
        <button mat-raised-button color="accent" *ngIf="flag == 2" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="update()">Modifikuj</button>
        <button mat-raised-button color="accent" *ngIf="flag == 3" mat-dialog-close="1" (click)="delete()">Obriši</button>
        <button mat-raised-button color="warn" (click)="cancel()">Poništi</button>
    </div>
  </div>