<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O meni - Bojana Bošković</title>
    <link rel="stylesheet" type="text/css" href="author.component.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <img src="https://m.media-amazon.com/images/I/31Cd9UQp6eL._SR600%2C315_PIWhiteStrip%2CBottomLeft%2C0%2C35_SCLZZZZZZZ_FMpng_BG255%2C255%2C255.jpg" alt="Bojana Bošković"> 
            <div>
                <h1>Bojana Bošković</h1>
                <p>Šabac, Srbija | boskovic.im113.2020@uns.ac.rs | +38161234567</p>
            </div>
        </div>
    </header>

    <main class="container">
        <section class="section">
            <h2>Veštine</h2>
            <ul class="skills-list">
                <li>Komunikativnost</li>
                <li>Brzo učenje</li>
                <li>Timski rad</li>
                <li>Kreativnost</li>
                <li>Agilnost</li>
            </ul>
        </section>

        <section class="section">
            <h2>Radno Iskustvo</h2>
            <ul class="experience-list">
                <li>
                    <strong>Online English Tutor</strong><br>
                    <em>2021 - Trenutno</em><br>
                    Rad sa učenicima na razvijanju jezičkih veština kroz online časove.
                </li>
            </ul>
        </section>

        <section class="section">
            <h2>Obrazovanje</h2>
            <ul class="experience-list">
                <li>
                    <strong>Fakultet tehničkih nauka, Novi Sad</strong><br>
                    <em>2020 - Trenutno</em><br>
                </li>
                <li>
                    <strong>Srednja škola "Šabačka gimnazija", Šabac</strong><br>
                    <em>2016 - 2020</em>
                </li>
                <li>
                    <strong>Osnovna škola "Nikolaj Velimirović", Šabac</strong><br>
                    <em>2008-2016</em>
                </li>
            </ul>
        </section>

        <section class="section">
            <h2>Jezici</h2>
            <ul class="experience-list">
                <li>Srpski - Tečno</li>
                <li>Engleski - Tečno</li>
                <li>Nemački - Srednji nivo</li>
                <li>Grčki - Osnovni nivo</li>
            </ul>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2024 Aplikacija za Pravosuđe</p>
    </footer>
</body>
</html>
