<mat-toolbar color="primary">
    <span class="title-center">Predmet</span>
  </mat-toolbar>
  
<div class="container mat-elevation-z8">
  <div class="filter-field">
    <mat-form-field subscriptSizing="dynamic">
    <input matInput placeholder="Pretražite predmete" name="filterField" (keyup)="applyFilter($event)" >
  </mat-form-field>
</div>

  <div class="container mat-elavation-z8">
    <mat-table matSort [dataSource]="dataSource" class="mat-cell">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="brojPr">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Broj predmeta</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.brojPr }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="opis">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Opis</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.opis}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="datumPocetka">
        <mat-header-cell *matHeaderCellDef>Datum Početka</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.datumPocetka | date:'dd.MM.yyyy.' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="aktivan">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Aktivan</mat-header-cell>
        <mat-cell [style.color]="row.aktivan ? 'green' : 'red'" *matCellDef="let row">{{ row.aktivan ? 'Da' : 'Ne' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="sud">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sud</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.sud.naziv }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="openDialog(1)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          <button mat-icon-button color="primary" (click)="openDialog(2, row.id, row.brojPr, row.opis, row.datumPocetka, row.aktivan, row.sud)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openDialog(3, row.id, row.brojPr, row.opis, row.datumPocetka, row.aktivan, row.sud)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
      <mat-row style="cursor: pointer;"
      *matRowDef="let row; columns: displayedColumns"
      (click)="selectRow(row)">
      </mat-row>
    </mat-table>

    <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[3,6,9,12]">
    </mat-paginator>
  </div>

  <div class="container mat-elavation-z8">
    <app-rociste *ngIf="parentSelectedPredmet"
    [childSelectedPredmet]="parentSelectedPredmet">
  </app-rociste>
</div>